{% extends 'base.html' %}

{% block content %}

<h1>{% block title %} </br>  {% endblock %}</h1>

<form method="post" action="/search">
    <div class="form-group align-middle">
        <label for="title">Movie or TVshow title</label>
        <input type="text" name="title"
        placeholder="5th element, Game of thrones, Star-trek.." class="form-control"
        value="{{ request.form['title'] }}" id="_sjarken" aria-autocomplete="list" aria-haspopup="true"></input>
    </div>
    <div class="form-group">
        <button type="submit" id="sok2" class="btn btn-primary mb-2">Search</button>
</form>
{% endblock %}

